{% set has_resources = false %}
{% for talk_id in event.talks %}{% if talks[talk_id].resources is not empty %}{% set has_resources = true %}{% endif %}{% endfor %}
<div class="sfa-event alert alert-{% if date(event.date) == date('today') %}success{% else %}info{% endif %}">
    {% if has_resources == true %}<span class="label label-warning pull-right">Resources available</span>{% endif %}{% if date(event.date) == date('today') %}<span class="label label-warning pull-right">Today!</span>{% endif %}
    <h4><a name="event_{{ event.date }}"></a>{{ event.title }}</h4>
    <h5>{{ event.date }}, {{ event.time }} Uhr @{% include 'render.location.html.twig' with {'location': locations[event.location]} %}</h5>
     <ul class="unstyled">
        {% for talk_id in event.talks %}
            <li><a name="{{talk_id}}"></a>{% include 'render.talk.html.twig' with {'talk': talks[talk_id]} %}</li>
        {% endfor %}
    </ul>


<a href="https://twitter.com/share" class="twitter-share-button" data-via="symfony-austria" data-url="http://symfony-austria.org/events#event_{{ event.date }}" data-text="{{ event.title }} - {% for talk_id in event.talks %}{% filter striptags| replace({"\n":"", "\r":""}) %}{% spaceless %}{% include 'render.talk.html.twig' with {'talk': talks[talk_id]} %}{% endspaceless %}{% endfilter %}{% if not loop.last %}, {% endif %}{% endfor %}" data-count="none" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
